/* A Modern CSS Reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: PixelMplus12-Bold;
  src: url("../../resource/fonts/PixelMplus12-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PixelMplus12-Regular;
  src: url("../../resource/fonts/PixelMplus12-Regular.ttf") format("truetype");
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  color: #3bbfce;
  font-family: 'PixelMplus12-Regular';
}

.content-navigation {
  border-color: #3bbfce;
  color: #2b9eab;
}

.border {
  margin: 8px;
  border-color: #3bbfce;
}

.content-navigation {
  color: black;
}

.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0.5;
}

.movie {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
}

.center-wrapper {
  background-color: rgba(51, 51, 51, 0.98);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 60vh;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: solid 1px #3bbfce 1;
  text-align: center;
}

.container #icon-wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: -10%;
}

.container .image-icon {
  margin: 0 auto;
  width: 35%;
  border-radius: 50%;
}

.container ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container li {
  width: 15%;
  font-size: 1.5rem;
  border-bottom: solid 1px #3bbfce;
  margin: 1%;
}

.container a {
  color: #3bbfce;
  text-decoration: none;
}

.introduction-wrapper {
  padding-top: 1.5%;
  padding-bottom: 5%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .center-wrapper {
    background-color: #333333;
    margin-top: 60%;
    width: 100%;
    height: 100%;
  }
  .container {
    margin: 0 auto;
  }
  .container #icon-wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: -40%;
    background-color: rgba(17, 17, 26, 0);
  }
  .container .image-icon {
    width: 65%;
  }
  .container ul {
    width: 100%;
    padding-left: 0;
  }
  .container li {
    width: 25%;
  }
}
/*# sourceMappingURL=test.css.map */