$background-color: #dddddd;
$blue: #3bbfce;
$margin: 16px;

@font-face {
    font-family: PixelMplus12-Bold;
    src: url('../../resource/fonts/PixelMplus12-Bold.ttf') format('truetype');
}

@font-face {
    font-family: PixelMplus12-Regular;
    src: url('../../resource/fonts/PixelMplus12-Regular.ttf') format('truetype');
}

body {
    background-color: $background-color;
    color: $blue;
    font-family: 'PixelMplus12-Regular';
}

.content-navigation {
    border-color: $blue;
    color: darken($color: $blue, $amount: 10%); 
}

.border {
    padding: $margin / 2;
    margin: $margin / 2;
    border-color: $blue;
}

.content-navigation {
    color: black;
}

.center-wrapper {
    background-color: #fff;

    margin: auto;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 60%;
    height: 600px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: solid 1px $blue 1;
    text-align: center;


    .image-icon {
        width: 25%;
        margin-top: -10%;
        margin-bottom: 60px;
        border-radius: 50%;
    }

    ul {
        margin-top: 150px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    li {
        padding: 10px 30px;
        margin: 10px;
        height: 20px;
        font-size: 1.5rem;
    }

    a {
        color: $blue;
    }
}

// レスポンシブ記述
@media screen and (max-width: 480px) {
    .center-wrapper {
        width: 100%;
        height: 100%;
    }

    #icon-wrapper {
     width: 100%;
     height: 200px;
     background-color: orange;
    }

    .container {
        .image-icon {
            width: 65%;
            margin-top: 10%;
        }
    }
}
