/* A Modern CSS Reset */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

$background-color: #333;
$blue: #3bbfce;
$white: #fff;
$margin: 16px;

@font-face {
    font-family: PixelMplus12-Bold;
    src: url("../../resource/fonts/PixelMplus12-Bold.ttf") format("truetype");
}

@font-face {
    font-family: PixelMplus12-Regular;
    src: url("../../resource/fonts/PixelMplus12-Regular.ttf") format("truetype");
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    color: $white;
    font-family: 'PixelMplus12-Regular';
}

.content-navigation {
    border-color: $blue;
    color: darken($color: $blue, $amount: 10%); 
}

.border {
    // padding: $margin / 2;
    margin: $margin / 2;
    border-color: $blue;
}

.content-navigation {
    color: black;
}

.video-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0.5;
}

.movie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}

.center-wrapper {
    background-color: rgba(51, 51, 51, 0.98);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 60vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: solid 1px $blue 1;
    text-align: center;

    #icon-wrapper {
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-top: -10%;
    }
    .image-icon {
        margin: 0 auto;
        width: 35%;
        border-radius: 50%;
    }

    .button {        
        a {
            color: $white;
            text-decoration: none;
            border: solid 2px $white;
            padding: 2% 5%;
        }
    }

    .button :hover {
        opacity: 0.6;
    }
}

.introduction-wrapper {
    padding-top: 1.5%;
    padding-bottom: 5%;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .center-wrapper {
        background-color: rgba(51, 51, 51, 1);
        margin-bottom: 0;
        width: 100%;
        height: 80vh;
    }

    .container {
        margin: 0 auto;
        #icon-wrapper {
            width: 100%;
            height: auto;
            margin: 0 auto;
            margin-top: -20%;
            background-color: rgba(17, 17, 26, 0);
        }
        .image-icon {
            width: 60%;
        }

        .button {
            margin-top: 25%;
            a {
                padding: 5% 10%;
                border-radius: 30px;
            }
        }

        ul {
            width: 100%;
            padding-left: 0;
        }

        li {
            width: 25%;
        }
    }

    .list-center-wrapper {
        background-color: rgba(51, 51, 51, 0.95);
        width: 100%;
        height: 100%;
        
        .list-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
            
            .header-span-wrapper {
                width: 100%;
                // margin-top: 1%;
                
                span {
                    color: $white;
                }
            }
        }
    }
}
/*# sourceMappingURL=test.css.map */